body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    color: white;
    text-align: center;
    padding: 40px 20px;
    background-color: #4d4a4a; /* Background applied only to the header */
}

header img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    opacity: 0.8;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Rest of the body remains without the background color */
.container {
    margin: 0 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
}

input[type="text"] {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    width: 300px;
}

.btn {
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

#results {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 40px 0;
}

#results > div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#results img {
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
    height: 200px;
    width: 100%;
}

#results h3 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

#results ul {
    margin: 0;
    padding: 0;
}

#results li {
    list-style: none;
    margin-bottom: 10px;
}

#results a {
    background-color: #007bff;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

#results a:hover {
    background-color: #0069d9;
}
/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9); /* Slightly shrink for effect */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Back to normal size */
    }
}

/* Apply the animation to each result */
#results > div {
    animation: fadeIn 0.6s ease-in-out;
    background-color: #928484;
    border: 8px solid transparent;
    border-image: url('https://img.freepik.com/premium-vector/seamless-pattern-with-fast-food-illustrations-pattern-element-poster-wrapping-paper-illustration_124137-677.jpg?w=826') 30 round;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
